# Introduction to Python

In [ ]:
# This is a comment

In [109]:
print('"MBA-BA"')

"MBA-BA"

In [110]:
print('Madhu's' 'class')

SyntaxError: unterminated string literal (detected at line 1) (1405670615.py, line 1)

In [111]:
print("Madhu's House")

Madhu's House

In [ ]:
#while assigning a variable there should be no spaces

In [112]:
M_Rohitha_Sai=1

In [113]:
print(M_Rohitha_Sai)

1

In [ ]:
#jupiter or python is a line by line execution program

In [114]:
#eg #a is not defined in the first 2 statements, so the o/p is printed and then an error pops up

M_Rohitha_Sai=1
print(M_Rohitha_Sai)
print(a)

1

NameError: name 'a' is not defined

In [115]:
a=2
a=4
print(a)

4

In [116]:
a=2
print(a)
a=4
a=5
print(a*a)

2
25

In [ ]:
#global variables are used outside the programs as well
#local variables are used only inside the internal programs or sub-programs

In [117]:
a=4
b=3.5
c='Rio'
d=True
e=False
#boolean values are case-sensitive  
#python is case-sensitive

In [118]:
type(d)

bool

In [119]:
type(a)

int

In [120]:
type(b)

float

In [121]:
type(c)

str

In [122]:
type(e)

bool

In [123]:
print("What's your name?")

What's your name?

In [124]:
print(a*b)

14.0

In [125]:
print(d*e)

0

In [126]:
print(d*a)

4

In [127]:
print(c*a)

RioRioRioRio

In [128]:
print(c*b)

TypeError: can't multiply sequence by non-int of type 'float'

In [129]:
print(d)

True

In [131]:
#input is a text box where a statement is stored
course_name=input("Course Name: ")

Course Name: BA

In [132]:
print("Hi \nThis is my first " + course_name +" class")

Hi
This is my first BA class

In [136]:
#class3

In [ ]:
weight=float(input("Weight(lbs):"))

In [26]:
print("weight in kgs=", weight*0.45)

weight in kgs= 77.4

In [91]:
#strings
course1 = '''Hi 
Python 
prog'''

In [92]:
print(course1)

Hi
Python
prog

In [65]:
weight_lbs=input('weight(lbs):')
weight_kgs=float(weight_lbs)*0.45
print(f'Weight in kgs={weight_kgs}KGS')

weight(lbs):172
Weight in kgs=77.4KGS

In [73]:
yearofbirth=int(input("Year of birth: "))
age=int(2023-yearofbirth)

Year of birth: 2000

In [76]:
print(f'Age={age} years')

Age=23 years

In [95]:
course1[4:]

'Python \nprog'

In [102]:
course1[0:11]

'Hi \nPython '

In [97]:
#formatted strings
first='R'
middle='I'
last='O'
message=first+middle+last
print(message)

RIO

In [133]:
#string methods
print(len(message))

3

In [134]:
print(message.lower())

rio

In [135]:
print(message.upper())

RIO

In [140]:
print(message.swapcase())

rio

In [2]:
#find,replace,title

In [15]:
a = "Hi today's tuesday"

In [16]:
a.split()

['Hi', "today's", 'tuesday']

In [18]:
a.split(maxsplit=1)

['Hi', "today's tuesday"]

In [19]:
a.split(maxsplit=2)

['Hi', "today's", 'tuesday']

In [63]:
A="woxsen university MBA BA Rohitha"

In [67]:
b = A.split(maxsplit=2)

In [69]:
2+2

4

In [68]:
'*'.join(b)

'woxsen*university*MBA BA Rohitha'

In [28]:
page="https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber"

In [47]:
page[0:]+"=3"

'https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=3'

In [60]:
arc='James Bond'

In [39]:
print(arc[2::-1])

maJ

In [46]:
print(arc[2:9:2])

msBn

In [58]:
a="https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=2"

In [54]:
b=a.split('pageNumber=2')

In [70]:
c=a.split('=2')

In [71]:
print(c)

['https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber', '']

In [55]:
print(b)

['https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&', '']

In [57]:
'pageNumber=3'.join(b)

'https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=3'

In [72]:
'=3'.join(c)

'https://www.amazon.in/MamyPoko-Pants-Standard-Diaper-Large/product-reviews/B09NP74HX2/ref=cm_cr_arp_d_paging_btm_next_2?ie=UTF8&reviewerType=all_reviews&pageNumber=3'